.registration-image{
          background: #EFEBEB;
          padding: 100px 0;
          img{
              display: block;
              width: 400px;
              height: 500px;
              margin: 0 auto;
              text-align: center;
          }
          p{
              font-family: 'Avenir-Heavy';
              position: absolute;
              top: 60%;
              margin-top: 60px;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 16px;
              text-align: center;
              color: #00adef;
          }
      }
      .registration-dropdown{
          background: #F8F9FA;
      }.form-group.required .control-label:after {
        content:"*";
        color:red;
        margin-left: 5px;
      }
      .form-group {
          padding-right: 15px !important;
          padding-left: 15px !important
      }