.container-fluid{
    overflow: hidden;
}

.registration-image{
    background: #EFEBEB;
    // padding: 100px 0;
    img{
        display: block;
        width: 100%;
        height: 75%;
        margin: 0 auto;
        text-align: center;
    }
    p{
        font-family: 'Avenir-Heavy';
        position: absolute;
        top: 60%;
        margin-top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        text-align: center;
        color: #00adef;
    }
}
.registration-dropdown{
    background: #F8F9FA;
    h4 {
        color: #4C5359;
        font-size: 20px;
        font-weight: 600;
    }
    select{
        font-size: 12px;
    }
    .login-btn{
        button{
            width: 150px;
            background: #00adef;
            color: #fff;
            font-size: 12px;
            border: 1px solid #00adef;
            letter-spacing: 1px;
            height: 36px;
        }
    }
    .disabled{
        background: #E2F2F9;
        color: #00adef;
        border: 1px solid #E2F2F9;
        font-size: 12px;
        cursor: not-allowed;
    }
}