<div class="container-fluid no-gutters h-100">
    <div class="row h-100">
        <div class="col-6 no-gutters">
            <div class="registration-image h-100"><img src="assets/images/registration-form.png">
                <p>Sign up for lightning fast delivery to your customers</p>
            </div>
        </div>
        <div class="col-6 no-gutters">
            <div class="registration-dropdown h-100">

                <div class="container">
                    <div class="row text-center justify-content-center ">
                        <h4>Partner with us</h4>
                    </div>
                </div>
                <div class="container">
                        <div class="form-group text-center justify-content-center">
                            <select class="custom-select custom-select-lg mb-1" id="exampleFormControlSelect1"
                                style="width:60vh;">
                                <option value="" selected disabled>Select Vendor from dropdown</option>
                                <option> Restaurant </option>
                                <option> Grocery Store </option>
                                <option> Packages</option>
                                <option> Book Stall</option>
                            </select>
                        </div>
                    </div>
                <div class="login-btn text-center justify-content-center"><button type="submit" class="btn btn-primary">Login</button></div>
            </div>
        </div>
    </div>
</div>