<nav class="navbar product-navbar" id="main">
          <button class="toggle-button text-left" id="openBtn" href="javascript:void(0)">☰</button>
          <div class="nav-item dropdown">
          <a class="text-right user-profile nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Howdy, Walltech</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                  <div class="col-2">
                      <img src="assets/images/user.png">
                  </div>
                  <div class="col-10">
                          <a class="dropdown-item" href="javascript:void(0);">Walltech</a>
                          <a class="dropdown-item" href="javascript:void(0);">Edit my profile</a>
                          <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                  </div>
              </div>
          </div>
          </div>
      </nav>
      <div id="page-content" class="page-content">
          <div class="row">
              <div class="col-6 text-left">
                  <h4>Profile</h4>
              </div>
              <div class="col-6 text-right">
                  <ul class="product-right">
                      <li><button type="submit">Edit Profile</button></li>
                      <li><button type="submit">Save</button></li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-8">                       
                  <div class="product-page-inner">
                      <div class="row">
                          <div class="col-6">
                              <div class="row pricing-wrap">
                                  <div class="col-5"><label>User Name</label></div>
                                  <div class="col-7">
                                      <input type="text" placeholder="username">
                                  </div>
                              </div>
                              <div class="row pricing-wrap">
                                  <div class="col-5"><label>First Name</label></div>
                                  <div class="col-7">
                                      <input type="text" placeholder="First Name">
                                  </div>
                              </div>
                              <div class="row pricing-wrap">
                                   <div class="col-5"><label>Email(required)</label></div>
                                       <div class="col-7">
                                             <input type="text" placeholder="SKU">
                                       </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="row pricing-wrap">                                                    
                                     username cannot be changed                              
                              </div>
                              <div class="row pricing-wrap">
                                  <div class="col-5"><label>Last Name</label></div>
                                  <div class="col-7">
                                      <input type="text" placeholder="Last Name">
                                  </div>
                              </div>
                              <div class="row pricing-wrap">
                               <div class="col-5"><label>New Password</label></div>
                                 <div class="col-7">
                                  <input type="password" placeholder="New Password">
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                     
       
                  <div class="col-6 text-left">
                              <h4>Additional information</h4>
                          </div>
              </div>
              <div class="col-4">
                              <div class="card">
                                  <div class="card-header" style=background-color:#fff>Product Image</div>
                                  <div class="card-body" style=padding:0px>
                                      <label class="btn btn-default" style=text-align:left!important;color:blue>
                                          <img src="assets/images/profile-default.png" style=width:35%>  <input
                                              type="file" hidden>
                                              <button type="submit" class="btn btn-outline-danger">Remove profile photo</button>
                                              Upload ProfilePicture
                                      </label>
                                  </div>
                              </div>
                    </div>
              <div class="col-8">                       
                              <div class="product-page-inner">
                                  <div class="row">
                                      <div class="col-6">
                                          <div class="row pricing-wrap">
                                              <div class="col-5"><label>Company Name</label></div>
                                              <div class="col-7">
                                                  <input type="text" placeholder="companyName">
                                              </div>
                                          </div>
                                          <div class="row pricing-wrap">
                                              <div class="col-5"><label>Address Line2</label></div>
                                              <div class="col-7">
                                                  <input type="text" placeholder="AddressLine2">
                                              </div>
                                          </div>
                                          <div class="row pricing-wrap">
                                               <div class="col-5"><label>Postalcode/ ZIP</label></div>
                                                   <div class="col-7">
                                                         <input type="text" placeholder="postalcode">
                                                   </div>
                                          </div>
                                          <div class="row pricing-wrap">
                                                            <div class="col-5"><label>Country</label></div>
                                                                <div class="col-7">
                                                                      <input type="text" placeholder="country">
                                                                </div>
                                                       </div>
                                      </div>
                                      <div class="col-6">
                                          <div class="row pricing-wrap">
                                              <div class="col-5"><label>Address Line1</label></div>
                                              <div class="col-7">
                                                  <input type="text" placeholder="Addressline1">
                                              </div>
                                          </div>
                                          <div class="row pricing-wrap">
                                           <div class="col-5"><label>City</label></div>
                                             <div class="col-7">
                                              <input type="text" placeholder="city">
                                            </div>
                                          </div>
                                          <div class="row pricing-wrap">
                                               <div class="col-5"><label>State</label></div>
                                                  <div class="col-7">
                                                     <input type="text" placeholder="State">
                                                  </div>
                                           </div>
                                          <div class="row pricing-wrap">
                                             <div class="col-5"><label>Phone</label></div>
                                                <div class="col-7">
                                                   <input type="text" placeholder="Phone">
                                                 </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
              
            
          </div>
      </div>