.product-navbar{
          background: #222e3a;
          color: #fff;
          .toggle-button{
              background: none;
              border: 0;
              color: #fff;
              font-size: 25px;
          }
          .user-profile{
              color: #fff;
              font-size: 16px;
              margin-bottom: 0;
          }
          .dropdown-menu{
            background: #222e3a;
            width: 183px;
            img{
              position: absolute;
              top: 20px;
              background: #fff;
              border: 1px solid #fff;
              left: 25px;
              width: 32px;
              padding: 5px;
            }
            .dropdown-item{
              font-size: 12px;
              color: #818181;
              &:hover{
                background: none;
              }
            }
          }
      }
      
      .sidebar {
          height: 100%;
          width: 250px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #2b3947;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 16px;
            color: #818181;
            display: block;
            transition: 0.3s;
            &:hover{
              color: #f1f1f1;
            }
          }
          .closebtn{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            cursor: pointer;
            background: none;
            color: white;
            padding: 10px 15px;
            border: none;
          }
        }
        
        .openbtn {
          font-size: 20px;
          cursor: pointer;
          background-color: #111;
          color: white;
          padding: 10px 15px;
          border: none;
          &:hover{
            background-color: #444;
          }
        }
        
        #main {
          transition: margin-left .5s;
          padding: 16px;
        }
      
        .page-content{
          margin-left: 18%;
          padding: 10px;
          background: #f8f9fa;
          height: 100%;
          h4{
            font-size: 16px;
          }
          .product-right{
            li{
              display: inline;
              margin-right: 15px;
              vertical-align: middle;
              &:last-child{
                margin-right: 0;
              }
              a{
                color: #ee4a52;
                font-size: 16px;
                text-decoration: underline;
              }
              button{
                width: 120px;
                background: #00adef;
                color: #fff;
                font-size: 12px;
                border: 1px solid #00adef;
                letter-spacing: 1px;
                height: 32px;
                border-radius: 5px;
            }
            }
          }
          .product-page-inner{
            background: #fff;
            padding: 15px;
            box-shadow: 0 10px 10px #efebeb;
            margin-bottom: 30px;
            input{
              width: 100%;
              height: 40px;
              padding-left: 15px;
              border: 1px solid #ccc;
              border-radius: 5px;
            }
            .pricing-wrap{
              margin-bottom: 30px;
              label{
                margin-top: 10px;
              }
            }
            textarea{
              width: 100%;
              padding: 10px 30px;
            }
          }
        }
      
        .card-body{
          ul {
            padding-left: 0;
            li{
              list-style-type: none;
              label{
                margin-left: 10px;
              }
            }    
          }
        }