
.bodyBackground{
    background-image: url(/assets/images/login-background.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .login-row{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        .login-Image{
            width: 50%;
            position: relative;
            top: 20px;
        }
        .login-model{
            background: #f8f9fa;
            width: 350px;
            height: 400px;
            box-shadow: 0 15px 18px #9e9e9e;
            border-radius: 2px;
            margin: 0 auto;
            padding: 15px 0;
            .login-header{
                h3{
                    font-family: 'Avenir-Heavy';
                    color: #494047;
                    font-size: 25px;
                }
                p{
                    color: #d8d8d8;
                    font-size: 12px;
                }
            }
            .login-fields{
                text-align: left;
                width: 250px;
                margin: 0 auto;
                .custom-input{
                    font-size: 12px;
                    text-align: left;
                    height: 36px;
                }
                span{
                    margin-right: 5px;
                    img{
                        width: 12px;
                    }
                }
                label{
                    font-size: 11px;
                }
                .custom-div{
                    margin: 0 auto;
                    .forgotPwd{
                        color: #7BCEF1;
                        font-size: 11px;
                        text-decoration: underline;
                    }
                }
                .login-btn{
                    margin: 0 auto;
                    text-align: center;
                    margin: 20px;
                    button{
                        width: 160px;
                        background: #00adef;
                        color: #fff;
                        font-size: 12px;
                        height: 36px;
                    }
                }
            }
        }
    }
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}