<div class="container-fluid d-flex bodyBackground">
    <div class="row justify-content-center align-self-center login-row">
        <div class="col-6">
            <img class="login-Image" src="/assets/images/login-welcome.png" alt="login-Image">
        </div>
        <div class="col-6">
            <div class="login-model">
                <div class="login-header">
                    <h3>Login into account</h3>
                    <p>Use your credentials to access your account</p>
                </div>
                <form class="login-fields">
                    <div class="form-group">
                       <span><img src="assets/images/user.png"></span>
                       <label>User ID / Phone Number</label>
                       <input type="text" class="form-control custom-input" placeholder="User ID / Phone Number">
                    </div>
                    <div class="form-group">
                        <span><img src="assets/images/password.png"></span>
                        <label>Password</label>
                        <input type="password" class="form-control custom-input" placeholder="Password">
                    </div>
                    <div class="row custom-div">
                        <div class="form-check col-6">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label>Remember Me</label>
                        </div>   
                        <div class="form-check col-6">
                            <a href="javascript:void(0)" class="forgotPwd">Forgot Password</a>
                        </div>    
                    </div>
                    
                    <div class="login-btn"><button type="submit" class="btn btn-primary">Login</button></div>
                </form>
            </div>
        </div>
    </div>
</div>