<div class="container-fluid no-gutters h-100">
       <div class="row h-100">
              <div class="col-12 no-gutters">
              <div class="registration-image ">
                     <img src="assets/images/sucessfull.jpg">
                     <div class="col-12 button">
                     <div class="row">
                            <div class=" col-6 text-right ">
                            <button [routerLink]="['/registration']" routerDirection="forward" type="button" class="btn btn-primary registerBtn">Register Another One</button>
                            </div>
                            <div class="col-6 text-left "><button (click)="navigateToProductUpload()" type="button" class="btn btn-primary loginBtn">Products</button></div>
                     </div>
                     </div>
              </div>
              </div>
       </div>
</div>