.registration-image{
          width: 100%;
          height: 100%;
          background: #390299;
          img{
              display: block;
              width: 100%;
              margin: 0 auto;
              text-align: center;
          }
          .button{
              margin-top: 20px;
          }
}
.registerBtn{
          background-color:#00ABF0;
          padding: 6px 30px;
          margin-bottom: 20%;
}
.loginBtn{
          background-color:#32189F;
          border-color:#32189F;
          padding: 6px 75px;
}
.container-fluid{
          overflow: hidden;
      }