.product-navbar{
    background: #222e3a;
    .toggle-button{
        background: none;
        border: 0;
        color: #fff;
        font-size: 25px;
    }
    .user-profile{
        color: #fff;
        font-size: 16px;
        margin-bottom: 0;
    }
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b3947;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover{
        color: #f1f1f1;
      }
    }
    .closebtn{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      cursor: pointer;
      background: none;
      color: white;
      padding: 10px 15px;
      border: none;
    }
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    &:hover{
      background-color: #444;
    }
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  #page-content{
    margin-left: 20%;
    padding: 10px;
  }

  .product-right{
    li{
      display: inline;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }