<nav class="navbar product-navbar">
    <button class="toggle-button text-left" id="openBtn" (click)="openNav()" href="javascript:void(0)">☰</button>
    <li class="nav-item dropdown hidden-md-down">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-right user-profile">Howdy, Walltech
                <span><img id="openProfile" src="assets/images/n.png"></span>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
           <div class="col-12">
               <div class="row">
                   <div class="col-6">
                        <span><img id="openProfile" src="assets/images/n.png"></span>
                   </div>
               </div>
           </div>
            <a href="#" class="dropdown-item">  <span style=margin-left:10px>
                    Profile</span></a>
             <a href="#" class="dropdown-item">  <span style=margin-left:10px>
                            Edit Profile</span></a>
             <a href="#" class="dropdown-item"> <span style=margin-left:10px>
                                    Profile</span></a>
            <a href="#" class="dropdown-item">
                <div class="dropdown-divider"></div>
                <span style=margin-left:10px>Logout</span>
            </a>
        </div>
    </li>
</nav>

<div id="mySidebar" class="sidebar">
    <button type="button" class="closebtn" (click)="closeNav()">☰</button>
    <a href="#">Products</a>
    <a href="#">Vendor's</a>
    <a href="#">Delivery Boy</a>
    <a href="#">Reports</a>
    <a href="#">Settings</a>
</div>
<div id="page-content" class="page-content">
    <div class="row">
        <div class="col-6 text-left">
            <h4>Add new product</h4>
        </div>
        <div class="col-6 text-right">
            <ul class="product-right">
                <li><a href="javascript:void(0);">Move to Trash</a></li>
                <li><button>Publish</button></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="product-page-inner">
                <h4>Product name</h4>
                <div class="form-group">
                    <input type="text" placeholder="Product name">
                </div>
            </div>
            <div class="product-page-inner">
                <div class="row">
                    <div class="col-6">
                        <div class="row pricing-wrap">
                            <div class="col-5"><label>Regular price()</label></div>
                            <div class="col-7">
                                <input type="text" placeholder="Product name">
                            </div>
                        </div>
                        <div class="row pricing-wrap">
                            <div class="col-5"><label>SKU</label></div>
                            <div class="col-7">
                                <input type="text" placeholder="SKU">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row pricing-wrap">
                            <div class="col-5"><label>Sale price()</label></div>
                            <div class="col-7">
                                <input type="text" placeholder="Sale price">
                            </div>
                        </div>
                        <div class="row pricing-wrap">
                            <div class="col-5"><label>Stock status</label></div>
                            <div class="col-7">
                                <input type="text" placeholder="Stock status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-page-inner">
                <h4>Product short description</h4>
                <textarea rows="5" col="5" placeholder="Product short description"></textarea>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>