<nav class="navbar product-navbar" id="main">
    <button class="toggle-button text-left" id="openBtn" (click)="openNav()" href="javascript:void(0)">☰</button>
    <div class="nav-item dropdown">
    <a class="text-right user-profile nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Howdy, Walltech</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/user.png">
            </div>
            <div class="col-10">
                    <a class="dropdown-item" href="#">Walltech</a>
                    <a class="dropdown-item" [routerLink]="['/admin-profile']" routerDirection="forward">Edit my profile</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>
</nav>
<div id="mySidebar" class="sidebar">
    <button type="button" class="closebtn" (click)="closeNav()">☰</button>
    <a href="javascript:void(0);" class="dropdown-btn">Products</a>
    <div class="dropdown-container">
        <a  href="javascript:void(0);">Resturants</a>
        <a href="javascript:void(0);">Groceries</a>
        <a href="javascript:void(0);">Packages</a>
        <a href="javascript:void(0);">BookStalls</a>
      </div>
    <a href="#">Vendor's</a>
    <a href="#">Delivery Boy</a>
    <a href="#">Reports</a>
    <a href="#">Settings</a>
</div>

<div class="add-buttons">
  <button class="all-menu" type="button">All Menu Items</button>
  <button class="add-menu" type="button">Add Menu</button>
</div>

<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search products">
  </mat-form-field>
  
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="prodImage">
    <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;">
      <img src="assets/images/table-img.png" class="table-img" alt="table-img" />
    </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.ProductImage">
    </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Item Name</th>
    <td mat-cell *matCellDef="let element"> {{element.Name}}
    <p>ID: {{element.ProductID}} | <a class="edit" href="javascript:void(0);">Edit</a> | <a class="trash" href="javascript:void(0);">Trash</a></p>  
    </td>
  </ng-container>

  
  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef>SKU</th>
    <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
  </ng-container>

  
  <ng-container matColumnDef="rp">
    <th mat-header-cell *matHeaderCellDef>Regular price</th>
    <td mat-cell *matCellDef="let element"> {{element.RegularPrice}} </td>
  </ng-container>

  
  <ng-container matColumnDef="sp">
    <th mat-header-cell *matHeaderCellDef>Sales price</th>
    <td mat-cell *matCellDef="let element"> {{element.SalePrice}} </td>
  </ng-container>

  <ng-container matColumnDef="categories">
    <th mat-header-cell *matHeaderCellDef>Categories</th>
    <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.ModifiedData}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="bg-row" mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
